---
import { getCollection, type CollectionEntry } from "astro:content";
import BlogLayout from "@/layouts/BlogLayout.astro";
import Prose from "@/components/Utils/Prose.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blogs");
  return posts.map((post) => ({
    params: { slug: post.slug }, // ← use SEMPRE o slug do arquivo
    props: { post },
  }));
}

const { post } = Astro.props as { post: CollectionEntry<"blogs"> };
const { Content } = await post.render();
---

<BlogLayout {...post}>
  <div data-post-content>
    <Prose>
      <Content />
    </Prose>
  </div>
</BlogLayout>

<style is:scoped>
  [data-post-content] img {
    width: 100%;
    height: auto;
    margin-inline: auto;
    display: block;
  }

  @media (min-width: 768px) {
    [data-post-content] img {
      max-width: 720px;
      max-height: 720px;
    }
  }
</style>
