---
import PostListItem from "@/components/PostListItem.astro";
const { posts } = Astro.props as { posts: any[] };
---

<section class="flex flex-col gap-6">
  <ul class="space-y-4 md:space-y-5">
    {posts.map((post) => (
      <li class="py-1">
        <PostListItem post={post} />
      </li>
    ))}
  </ul>
</section>
